extends layout

block content 
    title=title
    p= "Enter the Secret code to upgrade your membership status"

    form(action="/secret" method="POST")
        .inputField
            label(for="secret") Secret Code:
            input(type="text" name="secret")
        .inputField
            input(type="submit" value="Submit")
    if error
        p=error
    